body {
    font-family: 'Acme', sans-serif;
}

h1 {
    background: #75a3b5;
    text-align: center;
}

.indicaciones {
    float: center;
}

.texto {
    float: center;
}

.botones {
    float: center;
    display: block;
}