
body {
    font-family: 'Ruda', sans-serif;
    color: #fcf9ff;
    background: #0f0f0f;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: flex;
}

#welcome, #root, footer, #indicaciones {
    text-align: center;
    font-size: 15px;
    padding: 10px;
}

footer {
    background: #3a7999;
    width: 100%;
}

#llave {
    background: #dabdfc;
    border-radius: 5px;
    text-align: center;
    width: 70px;
}

textarea {
    background: #dabdfc;
    border-radius: 8px;
    width: 70%;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#botones {
    display: flex;
    justify-content: center;
    width: 100%;
}

#codificar, #decodificar, #resetear {
    border: none;
    background: #3a7999;
    color: #f2f2f2;
    font-family: inherit;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    width: 80px;
    border-radius: 5px;
    transition: all 500ms ease;
}

#codificar:hover, #decodificar:hover {
    background: #7a256a;
    border-radius: 15px;
    transition: all 1s ease; 
}

#resetear:hover {
    background: #251835;
    border-radius: 15px;
    transition: all 1s ease; 
}

#resultado {
    font-size: 20px;
    border-bottom: 2px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 400px) {
    #botones{
        margin:0px;
        padding:0px;
        padding-left:5%;
        display:block;
        float:none;
        text-align:left;
    }
}